@font-face {
	font-family: 'iconfont';  /* project id 563507 */
	src: url('https://at.alicdn.com/t/font_563507_97iy8d8d0plxflxr.eot');
	src: url('https://at.alicdn.com/t/font_563507_97iy8d8d0plxflxr.eot?#iefix') format('embedded-opentype'),
	url('http://at.alicdn.com/t/font_563507_97iy8d8d0plxflxr.woff') format('woff'),
	url('http://at.alicdn.com/t/font_563507_97iy8d8d0plxflxr.ttf') format('truetype'),
	url('http://at.alicdn.com/t/font_563507_97iy8d8d0plxflxr.svg#iconfont') format('svg');
}
body{
	font-size: 12px;
	background-color: #F5F5F5;
}
#now{
	width: 100%;
	height: 13.8rem;
	background-image: url('../img/screen.png'),linear-gradient(#3bbcff,#47e7ff);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.now_city{
	font-size: 0.36em;
	color:#fff;
	text-align: center;
	line-height:  1.57rem;
}
.address_icon{
	font-family: 'iconfont';
	font-size: 16px;
}
.now_all{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #f1ab62;
	margin-left: 0.26rem;
	margin-top: 0.05rem;
	border-radius: 0.25rem;
	padding-top: 0.1rem;
}
.now_all h1,.now_all h2{
	font-size: .36rem;
	color: #fff;
	text-align: center;
}
.now_temp{
	font-size: .96rem;
	color: #fff;
	text-align:center;
	margin-top: .77rem;
	line-height: .96rem;

}
.now_status{
	font-size: .51rem;
	color: #fff;
	text-align: center;
	margin-top: .9rem;
	line-height: .51rem;
}
.now_wind_box{
	font-size: .32rem;
	line-height: .32rem;
	color: #fff;
	text-align: center;
	margin-top: .54rem;
}
.notice{
	font-size: .32rem;
	line-height: .32rem;
	color: #fff;
	text-align: left;
	margin-top: 1.48rem;
	padding: 0px 2rem;
	letter-spacing: .01rem;
}
.now_city_name{
	font-size: .36rem;
}
#future{
	width: 100%;
	height: 3.09rem;
	background-color: #fff;
	border-bottom:0.03rem solid #e4e4e4;
	padding: .72rem 0;
}
.future_box{
	width: 50%;
	height: 100%;
	float: left;	
	padding:0 .58rem ;
	font-size: .32rem;
}
.today{
	border-right:0.03rem solid #e4e4e4;	
}
.future_top{
	width: 100%;
	height: 50%;
}
.future_date,.today_weather{
	float: left;
}
.future_top p{
	float: right;
}
.today_img,.tomorrow_img{
	width: 2rem;
	height: .72rem;
	float: right;
	text-align: right;
}
#hours{
	width: 100%;
	height: 3.9rem;
	background-color: #fff;
	border-top:0.03rem solid #e4e4e4;
	border-bottom:0.03rem solid #e4e4e4;
	margin-top: .3rem;
	display: flex;
	overflow-x:scroll; 
}
#hours li{
	width: 2rem;
	height: 3.9rem;
	/* padding: .94rem 0; */
	padding: .7rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-content: space-between;
	flex-shrink:0;
}
.hours_img{
	width: 2rem;
	text-align: center;
	box-sizing: content-box;
}
.hours_time,.hours_temp{
	font-size: .26rem;
}
#week{
	width: 100%;
	height: 11.19rem;
	background-color: #fff;
	border-top:0.03rem solid #e4e4e4;
	margin-top: .3rem;
	display: flex;
	overflow-x:scroll; 
}
#week li{
	width: 2rem;
	height: 100%;
	padding:.7rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content:center; 
	align-content: space-between;
	flex-shrink:0;
}
.week_img{
	width: 2rem;
	text-align: center;
	box-sizing: content-box;
}
.week_date,.week_hightemp,.week_lowtemp,.week_level{
	font-size: .26rem;
	width: 2rem;
	box-sizing: content-box;
	text-align: center;
}
.week_weather,.week_wind{
	font-size: .34rem;
}
#hours::-webkit-scrollbar,#week::-webkit-scrollbar,.content::-webkit-scrollbar{          /* : : 伪类选择器  h3*/
	display: none;
	/* display: block;     滚动条显示 */
}
#citys{
	display: none;
	width: 100vw;
	height: 100vh;                 /* 撑开一屏大小    vw vh 当前相对设备视口的宽高 */
	background-color: #F5F5F5;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	z-index: 999; 
	/* position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: plum; */
}
header{
	width: 100%;
	height: 1.29rem;
	background-color: #fff;
	padding: 0 .29rem;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	align-items: center;
}
.search{
	width: 9.03rem;
	height: .87rem;
	background-color: #e2e2e2;
	border: 0;
	border-radius: .2rem;
	padding: .2rem;
	outline: none;
}
.search_btn{
	font-size: .44rem;
	color: #76a9ff;
}
.content{
	width: 100%;
	height: 16.95rem;
	overflow-y:scroll; 
}
.left{
	float: left;
}
.remen_name{
	font-size: .45rem;
	color: #999;
	line-height: 0.5rem;
}
.xianshi{
	transform: rotate(90deg);
	margin-left: .04rem;
}
.remen_city{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-content: space-between;
	padding: 0 1.2rem;
}
.remen_city li{
	width: 2.34rem;
	height: .84rem;
	border-radius: .2rem;
	border: .03rem solid #e0e0e0;
	background-color: #fff;
	color: #000;
	font-size: .39rem;
	text-align: center;
	margin: .20rem 0;
	padding-top: .1rem;
}
.return{
	height: 1rem;
	background-color: transparent;
	border: 0;
	user-select: none;
	font-size: 0.6rem;
	letter-spacing: .2rem;
	margin-left: .5rem;
	color: #9897d0;
}
.return:focus{
	outline: none;
}
.address_icon,.remen_city li,.search_btn,.return{
	cursor: pointer;
}

